.full-width-image-block {
    @include disableLinks();

    &.hide-for-medium {
        @include breakpoint(medium up){
            display: block!important;
        }   
    }

    &.show-for-medium {
        @include breakpoint(large down){
            display: block!important;
        }   
    }

    .full-width-image {       
        width: 100%;

        &.side-padding {
            padding: 0 $border-gap;

            @include breakpoint(medium down) {
                padding: 0;
            }
        } 
    }

}
