/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 
.made-intro-block {

  .-inner {
    &.background-image {
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      padding: 200px 0;

      @include breakpoint(medium down) {
        background-position-x: 75%;
        padding: 50px 0 0;
        justify-content: space-around;
      }
    }
    
    position: relative;
    color: $white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 
    h1, h2 {
      margin: 0;
    }
  
    .logo {
      height: 300px;
      width: 300px;
      background-image: url('../img/made-logo.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 1s;
      margin-bottom: 1rem;

      @include breakpoint(medium down) {
        height: 180px;
        width: 180px;
      }
    }
  
    h2 {
      font-size: 1.5rem;
      @include breakpoint(medium up) {
        margin-bottom: 2rem;
      }
    }
  }
}