/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 
/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 
 .two-col-block {

  .fp-tableCell{
    display: block;
  }
  
  .block-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
    color: $white;
    min-height: 300px;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 110px;
    @include breakpoint(large down){
      padding: 55px 0;
      // border: 1px solid red;

      &:before,
      &:after {
        display: none;
      }
      h1 {
        font-size: 2.25rem;
      }
    }
    &.background-image {
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include categoryContainer($white );
    .category-container {
      @include breakpoint(large down){
        padding: 0;
      }
    }

    .content-container {
      display: flex;
      width: 100%;
      height: 100%;

      .wp-block-columns {
        .wp-block-column {
          height: 100%;
 
          &:first-child {
            padding: 50px 50px 0 50px;
          }
 
          &:last-child {
           padding: 50px 0 0 15px;
         }

          a {
            color: $white; 
            text-decoration: underline;
          }
        }

        @include breakpoint(large down){
 
          .wp-block-column {
            &:first-child{
              padding: 80px 0 15px 50px;

            }
            &:last-child {
              padding: 80px 50px 15px 25px;
            }
          }
        }
        @include breakpoint(medium down){
            // border: 1px solid yellow;
            flex-direction: column;
       
            align-self: center;
            justify-self: center;
            margin: auto;

            .wp-block-column {
              &:first-child  {
                padding: 25px 25px 0;
                margin: 0;
              }
              &:last-child {
                padding: 0 25px;
                margin: 0;
              }

              h1 {
                font-size: 2rem;
              }
            }
        }
      }
    }
    
    &:before {
      @include side-border(auto, $border-gap, $white);
      height: calc(100% - #{$border-gap + $border-gap});
      top: $border-gap;
      z-index: 1;
    }

    &:after {
      @include side-border( $border-gap, auto, $white);
      height: calc(100% - #{$border-gap + $border-gap});
      top: $border-gap;
      z-index: 1;
    }

    .line-container-bottom {
     // border: 2px solid red;

      @include breakpoint(large down){
        padding: 0;
        height: 65px;
      }

      @extend .category-container;
      top: auto;
      bottom: 0;
  
      .-inner {
          align-items: flex-start;

        .line {
          background-color: $white;
        }

        .logo {
          display: block;
          height: 80px;
          width: 80px;
          margin: -40px 20px 0;
          background-image: url('../img/made-logo.svg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      @include breakpoint (small down){
        display: none;
      }
    }
  }
}